@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-main-blue: #83c3c3;
  --color-sub-pink: #ecddeb;
  --color-text-main: #3b3b3b;
  --color-bg-main: #d4cdc1;
  --font-title: 'Zen Kurenaido';
  --main-text: 'Zen Kaku Gothic New';
}

@layer base {
  html {
    @apply text-text-main bg-bg-main font-(family-name:--main-text);
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

  /* 見出しの共通ルール */
  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tight;
    scroll-margin-top: 6rem; /* ヘッダー分を考慮 */
  }
}
